/*Reset*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*Body*/
body{
	background-color: gainsboro;
}
/*Menu*/
nav{
	width: 80%;
	height: 50px;
	border: darkorchid solid 2px;
	background-color: bisque;
	border-radius: 10px;
	padding: 10px;
	margin: 25px;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-52.5%,-5%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
	
a{
	color: darkorchid;
	font-family: Verdana;
	font-size: 14px;
	text-decoration: none;
	transition: 0.5s;
	padding: 10px;
}
	
a:link{
	color: darkorchid;
}
	
a:hover{
	color: crimson;
}
	
a:active{
	color: red;
}

/*İndex*/
#resim{
	position: relative;
	top: 25%;
	left: 37%;
	transform: translate(-25%,55%);
	z-index: 0;
	border-radius: 10%;
}

/*Ürünlerimiz*/
#urunlerimiz{
	position: relative;
	top: 25%;
	left: 25%;
	transform: translate(-25%,55%);
	z-index: 0;
}

#urunlerimiz h2, h3, a{
	margin: 1% 0;
}

h3{
	color:darkslategray;
	text-decoration: underline;
}

/*Hizmetlerimiz*/
#hizmetlerimiz{
	position: relative;
	top: 25%;
	left: 25%;
	transform: translate(-25%,30%);
	z-index: 0;
}

#hizmetlerimiz h2, p{
	margin: 1% 0;
}

h2 {
    color:brown;
	position: relative;
	top: 25%;
	left: 25%;
	transform: translate(-25%,-25%);
}
			
h2 u {
	color:darkslategray;
}
			
p #sc {
	color:teal;
	font-style:italic;
}

/*İletişim*/
#iletisim{
	font-family: Verdana;
	color: darkviolet;
	font-weight: bold;
	border: darkorchid solid 2px;
	border-radius: 10px;
	background-color: darksalmon;
	width: 25%;
	padding: 20px;
	position: relative;
	top: 25%;
	left: 25%;
	transform: translate(50%,80%);
}
	
input{
	border: darkviolet solid 2px;
	border-radius: 5px;
	color: darkviolet;
	padding: 5px;
	margin: 5px;
	background-color: pink;
	transition: 0.5s;
}
	
input[type=submit]{
	background-color: darkgreen;
	color: white;
	border: none;
}
	
input[type=reset]{
	background-color: darkred;
	color: white;
	border: none;
}
	
input[type=submit]:hover{
	background-color: darkolivegreen;
	color: white;
}
	
input[type=reset]:hover{
	background-color: crimson;
	color: white;
}
	
input[type=text]{
	background-color: pink;
	border: 2px solid darkviolet;
}
	
input[type=email]{
	background-color: pink;
	border: 2px solid darkviolet;
}
	
input[type=text]:focus{
	background-color: powderblue;
    border: 2px solid cornflowerblue;
	outline: none;
}
	
input[type=email]:focus{
	background-color: powderblue;
	border: 2px solid cornflowerblue;
	outline: none;
}